.grid-container{
    display: inline-grid;
    grid-template-columns: auto auto;
    text-align: center;
}
.grid-item{
    width:200px;
    border: solid rgb(143, 139, 139) 1px ;
    padding: 20px 20px 20px 20px;
    font-size: 15px;
    
    font-family: Arial;


}
p{
    margin-top: 5px;
}
body{
    text-align: center;
    background-color:rgb(2, 0, 24);
    color: snow;
}
#span{
   background-color: blue;
   letter-spacing: 6px;
   padding-top: 40px;
   
}
#i{
    font-size: 20px;
    letter-spacing:-2px ;
    color: rgb(151, 148, 148);
}
img{
    padding-top: 20px;
}